<!--Navbar code-->
<ul>
    <li style="float:left"><a class="active" routerLink="/dashboard"><i class="fa fa-fw fa-home"></i>Home</a></li>
    <li><a routerLink="/login"><i class="fa fa-fw fa-user"></i>Login</a></li>
    <li><a routerLink="/register"><i class="fa fa-user-circle" aria-hidden="true"></i>Signup</a></li>
    <li><a routerLink="/profile"><i class="fa fa-address-card-o" aria-hidden="true"></i>User</a></li>
    <li><a routerLink="/contact"><i class="fa fa-fw fa-envelope"></i>Contact</a></li>
    <li style="float:right"><a routerLink="/dashboard"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
    <li><a href="https://maps.googleapis.com/maps/api/place/textsearch/output?parameters"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
  </ul>