 <!-- footer section start -->
 <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
                    <div class="footer-about">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
                    </div>

        </div>
        <div class="col-md-3">
          <div class="useful-link">
            <h2>Useful Links</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="use-links">
              <li><a ><i class="fa-solid fa-angles-right"></i> Home</a></li>
              <li><a ><i class="fa-solid fa-angles-right"></i> About Us</a></li>
              <li><a ><i class="fa-solid fa-angles-right"></i> Gallery</a></li>
              <li><a ><i class="fa-solid fa-angles-right"></i> Contact</a></li>
            </div>
          </div>

        </div>
                  <div class="col-md-3">
                      <div class="social-links">
            <h2>Follow Us</h2>
            <img src="./assets/images/about/home_line.png" alt="">
            <div class="social-icons">
              <li><a href=""><i class="fa fa-facebook-square"></i>Facebook</a></li>
              <li><a href=""><i class="fa fa-instagram"></i> Instagram</a></li>
              <li><a href=""><i class="fa fa-linkedin"></i> Linkedin</a></li>
            </div>
          </div>
                  

                  </div>
        <div class="col-md-3">
          <div class="address">
            <h2>Address</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="address-links">
              <li class="address1"><i class="fa-solid fa-location-dot"></i> 114/43 Vinayakpur-
                Kanpur Nagar 
                 U.P 208025</li>
                 <li><a href=""><i class="fa fa-phone" aria-hidden="true"></i> +91 7905355614</a></li>
                 <li><a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i>ranjan193@gmail.com</a></li>
            </div>
          </div>
        </div>
                
      </div>
    </div>

  </footer>
  <!-- footer section end -->
  <!-- footer copy right section start -->
  <section id="copy-right">
    <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>  
      lorem ispum lorem ispum 2022 Powerd By <a href="#">lorem ispum</a> 


    </div>

  </section>
  <!-- footer copy right section end -->
 